<!-- template file -->
<h1 class="special"> hello from html file </h1>

heres the contents of the people array
<h1 class="special"> {{people}} </h1>

<hr>
Loop example
<ul>
    <li *ngFor="let person of people; let i=index">
        {{i}} {{person}}
    </li>
</ul>


<hr>
Loop example2 class of customers
<ul>
    <li *ngFor="let c of customers">
        {{c.id}} : {{c.name}}   {{c.id}}
    </li>
</ul>

<hr>
FIX ME Broken! Loop example2 class of customers using if
<ul>
    <li *ngFor="let c of customers">
        <span *ngIf="showName">{{c.name}}</span>        
    </li>
</ul>

<hr>
binding
imageurl={{imageUrl}}
<div>
    <img src="{{imageUrl}}">    
</div>

<hr>

<!--
Another way to write it "<img [src]="imageUrl">"  
<div>
    <img [src]="imageUrl">    
</div>
-->

<!--
Another way to write it "<img bind-src="imageUrl">"
<div>
    <img bind-src="imageUrl">    
</div>
-->

<hr>
create post
<p [hidden]="isUnchanged"> The post has been changed</p>
<button [disabled]="isUnchanged">Save</button>

<hr>
The class styler changes based on the value of isSpecial
<h4 [class.special]="isSpecial">This class binding!</h4>

